body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-x: hidden;
}
.title
{
  border: 6px solid black;
  padding: 0.5rem;
  /* background-color: #c9d6ec; */
  background: rgb(74, 108, 154);
background: linear-gradient(159deg, rgb(115, 163, 230) 0%, rgba(28,169,201,1) 100%);
  animation: floatText 3s ease-in-out infinite;
}



@keyframes floatText {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
.title {
  border: 6px solid black;
  padding: 0.5rem;
  background-color: #c9d6ec;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 3s steps(40) 1s 1 normal both,
    blinkCursor 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinkCursor {
  from, to { border-right-color: transparent }
  50% { border-right-color: black }
}

.container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #c9d6ec; */
  background-color: white;
}
.image{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 2rem;
}
.tour-price
{
  color: green;
} 
.cardbox
{
  display: grid;
 grid-template-columns: repeat(3,1fr);
  flex-wrap: wrap;
  max-width:1300px ;
}
.card{
  max-width: 400px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

}

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Other existing styles */
  }
  
  .card:hover {
    transform: scale(1.02); /* Slightly enlarge */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow */
    cursor: pointer;
  }

.btn-read
{
   max-width: 200px;
   margin-top: 5px;
   background-color: rgb(252, 150, 150);
   border-radius: 5px;
}
.refresh
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.nav-button
{
  
  color: black;
  padding: 1rem;
  background-color: rgb(107, 185, 226);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  margin: auto;

}
.nav-button:hover {
  transform: scale(1.02); /* Slightly enlarge */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow */
  cursor: pointer;
  color: white;
}
.read-more
{
  color: red;
}
.home-name
{
  color: rgb(48, 87, 107);
}